<!DOCTYPE html>
<html>
    <head>
        <title>
            index
        </title>
        <style>
            h1
            {
                text-align: center;
            }
            li
            {
                border: 2px solid blue;
                background-color: brown;
                padding: 1%;
                border-radius: 20px;
                width:10%;
                display: inline-block;
                text-align: center;
            }
        </style>
    </head>
    <body>
       
    </body>
</html>