<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell Item</title>
</head>

<body>
    <div>
        <form>
            <label>Order Number : </label>
            <p><input type="text" placeholder="Enter oreder number" name="orderNumber" required ></p>
            <label>Customer Name: </label>
            <p><input type="text" placeholder="Enter customer name" name="customerName" required></p>
            <label>Email : </label>
            <p><input type="email" placeholder="Enter customer email" name="email"></p>
            <label>Phone number</label>
            <p><input type="tel" placeholder="Enter customer Phone Number" name="phoneNumber" required /></p>
            <label>Address</label>
            <p> <input type="text" placeholder="Enter customer address" name="address" required /></p><hr>
            <label>Part number : </label>
            <p><input type="text" placeholder="Enter part number" name="partNumber" required></p>
            <label>Product Name : </label>
            <p><input type="text" placeholder="Enter product name" name="productName" required></p>
            <label>Quantity : </label>
            <p><input type="number" placeholder="Enter quantity" name="quantity" required></p>
            <label>MRP : </label>
            <p><input type="number" placeholder="Enter MRP" name="price" required></p>
            <button type="submit">Place Order</button>
        </form>
    </div>
</body>

</html>